body {
  font-size: 14px !important;
}
.btn {
  box-shadow: 1px 1px 2px 0px #80808082 !important;
}
li {
  font-size: 14px;
}
.btn-primary1:hover {
  background-color: #055e5b !important;
  color: white !important;
}
/* ----------------------------------NavBar---------------------------------- */
.nav-item.active {
  border-bottom: 3px solid rgba(153, 195, 189, 1);
}

.nav-link:hover {
  color: rgba(153, 195, 189, 1) !important;
  text-decoration: underline;
}
#navbar {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
header {
  font-family: "Times New Roman", Times, serif !important;
}
.dropdown-content {
  display: none;
  /* background-color: #eee; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  text-decoration: underline;
}

.dropdown-menu {
  opacity: 1;
  background-color: transparent !important;
  top: 60%;
  left: 0;
  font-size: 14px !important;
}

.dropdown-menu li {
  padding-left: 20px;
}

.dropdownHover .menuName:hover {
  text-decoration: underline;
}

.dropdownHover li:hover {
  cursor: pointer;
  color: rgba(153, 195, 189, 1) !important;
  transition: 0.3s;
}
.nav-item:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.4s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar.active {
  animation: fadeNav 0.4s linear forwards;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
}

.navbar {
  transition: all 0.9s;
  opacity: 1;
  animation: fadeNavOut 0.9s linear forwards;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeNavOut {
  100% {
    transform: translateY(0%);
  }
}

@media (max-width: 574px) {
  .topnav {
    display: none !important;
  }

  iframe {
    width: 100% !important;
  }

  .logo {
    height: 50px !important;
  }
}

@media (min-width: 574px) {
  .topNavSocialDetails {
    display: none !important;
  }
}
@media (max-width: 990px) {
  .navbar li {
    width: fit-content;
  }
}
/* -------------------------------------------------------------------------- */
#backtotop {
  position: fixed;
  float: right;
  z-index: 999;
  display: none;
  bottom: 5%;
}

.backtotop {
  display: block;
  font-size: 22px !important;
  height: 40px;
  cursor: pointer;
  width: 50px;
  border-radius: 5px 5px 0px 0px;
  line-height: 40px;
  background-color: #065a57;
  transition: 0.5s;
}

.backtotop:hover {
  background-color: white !important;
  color: #065a57 !important;
}
