.navbar.active {
    animation: fadeNav 0.7s linear forwards;
    background: white !important;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
  }
  
  .navbar {
    transition: all 0.5s;
    opacity: 1;
    animation: fadeNavOut 0.9s linear forwards;
  }
  
  @keyframes fadeNav {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeNavOut {
    100% {
      transform: translateY(0%);
    }
  }