body {
  font-size: 14px !important;
}

/* ----------------------------------NavBar---------------------------------- */
.dropdown-menu {
  opacity: 1;
  background-color: transparent !important;
  top: 60%;
  left: 0;
  font-size: 14px !important;
}

.dropdown-menu li {
  padding-left: 20px;
}

.dropdownHover .menuName:hover {
  text-decoration: underline;
}

.dropdownHover li:hover {
  cursor: pointer;
  color: grey !important;
  transition: 0.3s;
}
.nav-item:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.4s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar.active {
  animation: fadeNav 0.7s linear forwards;
  background: white !important;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
}

.navbar {
  transition: all 0.9s;
  opacity: 1;
  animation: fadeNavOut 0.9s linear forwards;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeNavOut {
  100% {
    transform: translateY(0%);
  }
}

@media (max-width: 574px) {
  .topnav {
    display: none !important;
  }

  iframe {
    width: 100% !important;
  }

  .logo {
    height: 50px !important;
  }
}

@media (min-width: 574px) {
  .topNavSocialDetails {
    display: none !important;
  }
}
/* -------------------------------------------------------------------------- */
