<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="icon" href="Images/titleLogo.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script src="../index.js"></script>

<style>
    .fa {
        transition: 0.5s;
    }

    .fa:hover {
        color: #1d9390 !important;
    }
</style>

<body>

    <nav id="topnav" class="topnav" style="border-bottom: 0.1px solid silver;">
        <div class="container-lg container-fluid">
            <div class="row my-2" style="font-size: 10px;">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 justify-content-center d-flex px-3"
                    style="border-right: 1px solid #fff;">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-clock-o"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="./bookAVisit.html" class="text-decoration-none px-2" style="color: grey;">
                            WORKING HOURS: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;MON - SAT 8:00
                                AM-8:00 PM</span>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 pl-4 justify-content-center d-flex px-3">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-envelope-o"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="mailto:DRIMRAN55@HOTMAIL.COM" class="text-decoration-none px-2" style="color: grey;">
                            EMAIL: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;DRIMRAN55@HOTMAIL.COM</span>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-2 pl-4 justify-content-center d-flex px-3">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-phone"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="tel:201 835 0536" class="text-decoration-none px-2" style="color: grey;">
                            PHONE: <span style="font-weight: 500;color: black;" style="color: black;">&nbsp;&nbsp;201
                                835
                                0536</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 justify-content-center d-flex">
                    <div class="d-flex list-unstyled align-items-center">
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-facebook"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-twitter"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-google-plus"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-linkedin"
                                style="color: grey;"></a>
                        </div>

                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-instagram"
                                style="color: grey;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="top-0 position-sticky" id="header" style="z-index: 999;">
        <nav id="navbar" class="navbar navbar-expand-lg py-lg-3 py-md-3 py-sm-3 py-2 bg-white"
            style="box-shadow:0px 1px 2px 0px silver;top: 0;position:sticky;z-index:1">
            <div class="container-lg container-fluid">
                <a href="../Home.html" class="navbar-brand" href="#">
                    <img src="../Images/Stress-Reduction-Clinic-1.png" class="img-fluid logo" style="height:60px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav" style="margin-left: auto;">
                        <li class="nav-item px-1">
                            <a href="./Imran.html" exact class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                ABOUT DR. IMRAN RASID
                            </a>
                        </li>
                        <li class="nav-item px-1 position-relative">
                            <a href="#" class="nav-link d-flex align-items-center"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                FIND A THERAPIST&nbsp;<span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu menu rounded-0 border-0 py-4" style=" width: fit-content">
                                <div class=" justify-content-center d-flex">
                                    <div class="" style="border-bottom: 3px solid rgba(153, 195, 189, 1);
                                    background: #eee;
                                    box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
                                    width: max-content;
                                  ">
                                        <ul class="list-unstyled dropdownHover">
                                            <a href="./stressReduction.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Therapist for Stress
                                                        Reduction</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./treatmentsForAddictions.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Treatment for addictions
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item px-1 position-relative">
                            <a href="./services.html" class="nav-link d-flex align-items-center"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                SERVICES&nbsp;<span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu menu rounded-0 border-0 py-4" style=" width: fit-content">
                                <div class=" justify-content-center d-flex">
                                    <div class="" style="border-bottom: 3px solid rgba(153, 195, 189, 1);
                                    background: #eee;
                                    box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
                                    width: max-content;
                                  ">
                                        <ul class="list-unstyled dropdownHover">
                                            <a href="./adult.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="dropdown" style="width: 100%;">
                                                        Adult
                                                        <a href="./PTSD.html" style="color: #444;" class="text-decoration-none">
                                                            <div class="dropdown-content py-2 my-2"
                                                                style="border-bottom: 3px solid rgba(153, 195, 189, 1);padding-left: 20px;">
                                                                Post-traumatic Stress Disorder (PTSD) <div
                                                                    class="fa fa-angle-left px-3"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./eliminateFearsAndPhobias.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Eliminate Fears & Phobias
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./stressAndAnxietytreatment.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Stress and Anxiety
                                                        Treatment
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./addictionTreatment.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Addiction Treatment</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./anxietyAndDepressionTreatment.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Anxiety & Depression
                                                        Treatment</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./mentalHealth.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Mental Health & Addiction
                                                        Therapies</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="active nav-item px-1">
                            <a href="./testimonials.html" class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                TESTIMONIALS
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a href="./blog.html" class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                BLOG
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a href="./contact.html" class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                CONTACT US
                            </a>
                        </li>
                    </ul>
                    <div class="row mt-2 mb-1 topNavSocialDetails" style="font-size: 10px;">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 px-3 justify-content-center d-flex"
                            style="border-right: 1px solid #fff;">
                            <div class="d-flex align-items-center">
                                <span class="align-items-center d-flex justify-content-center text-white fa fa-clock-o"
                                    style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                                <a href="" target="_blank" class="text-decoration-none px-2 active"
                                    style="color: grey;">
                                    WORKING HOURS: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;MON - SAT
                                        8:00
                                        AM-8:00 PM</span>
                                </a>
                            </div>
                        </div>

                        <div
                            class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 pl-4 px-3 justify-content-center d-flex">
                            <div class="d-flex align-items-center">
                                <span
                                    class="align-items-center d-flex justify-content-center text-white fa fa-envelope-o"
                                    style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                                <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                                    EMAIL: <span
                                        style="font-weight: 500;color: black;">&nbsp;&nbsp;DRIMRAN55@HOTMAIL.COM</span>
                                </a>
                            </div>
                        </div>

                        <div
                            class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-2 pl-4 px-3 justify-content-center d-flex">
                            <div class="d-flex align-items-center">
                                <span class="align-items-center d-flex justify-content-center text-white fa fa-phone"
                                    style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                                <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                                    PHONE: <span style="font-weight: 500;color: black;"
                                        style="color: black;">&nbsp;&nbsp;201
                                        835
                                        0536</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 justify-content-center d-flex">
                            <div class="d-flex list-unstyled align-items-center">
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-facebook"
                                        style="color: grey;"></a>
                                </div>
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-twitter"
                                        style="color: grey;"></a>
                                </div>
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-google-plus"
                                        style="color: grey;"></a>
                                </div>
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-linkedin"
                                        style="color: grey;"></a>
                                </div>

                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-instagram"
                                        style="color: grey;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="row gx-0">
            <div class="col-lg-6 col-md-6 col-12 p-5 align-items-center justify-content-center d-flex"
                style="background-color:#1d9390;">
                <div class="text-white">
                    <div style="font-size: 60px;">
                        Book a visit</div>
                    <hr style="width: 75px;color: #fff;height: 2px;" class="m-0 mt-2 mb-3">
                    <p style="text-align:justify;font-size: 20px;">Book your visit with Dr. Imran Rasid in a minute.
                        Just fill out the form shown below and select your appointment date. It’s that easy.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-3" style="background-color:rgba(191, 222, 217, 1)">
                <div class="align-items-center d-flex justify-content-center" style="height: 100%;">
                    <div class="row text-white">
                        <div
                            class="col-lg-4 col-md-4 col-sm-4 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-3 align-items-center d-flex">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="fa fa-3x fa-clock-o"></div>
                                <div class="px-2">
                                    <div>
                                        SAVING TIME</div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-4 col-md-4 col-sm-4 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-3 align-items-center d-flex">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="fa fa-2x fa-"></div>
                                <div class="px-2">
                                    <div>CHOOSING ROUTE</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 align-items-center d-flex">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="fa fa-3x fa-magic"></div>
                                <div class="px-2">
                                    <div>SOLUTION</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-0">

            <div class="col-lg-6 col-12 p-5 align-items-center d-flex">
                <div style="width: 100%;">
                    <div class="" style="font-size: 35px;font-weight: 500;">
                        Come & visit us</div>
                    <hr class="my-2" style="margin:0;width: 70px;height: 2px; color: blue;">
                    <form class="mt-4">
                        <label>Your Name (required)</label>
                        <input type="text" class="form-control rounded-0 border-0 mb-3"
                            style="height:45px;background-color: rgba(0,0,0,.07);" required />
                        <label>Your Email (required)</label>
                        <input type="text" class="form-control rounded-0 border-0 mb-3"
                            style="height:45px;background-color: rgba(0,0,0,.07);" required />
                        <label>Phone Number (required)</label>
                        <input type="text" class="form-control rounded-0 border-0 mb-3"
                            style="height:45px;background-color: rgba(0,0,0,.07);" required />
                        <label>Additional Message</label>
                        <textarea rows="6" class="form-control rounded-0 border-0 mb-3"
                            style="background-color: rgba(0,0,0,.07);" required></textarea>

                        <button type="submit" class="btn btn-transparent bg-transparent rounded-0 px-5 py-2 mt-3"
                            style="transition:0.5s;border: 2px solid #1d9390;color: #1d9390;font-weight: 500;">BOOK YOUR
                            APPOINTEMENT
                        </button>

                    </form>
                </div>
            </div> 
            <div class="col-lg-6 col-12">
                <img src="../Images/DSC_0029.webp" class="img-fluid" style="width: 100%;" />
            </div>
        </div>

        <div class="position-relative text-white">
            <div class="position-absolute p-3" style="height:80vh;background-color: #1d9390;width: 300px;right: 12%;">
                <div class="text-center mt-3" style="font-size: 22px;">WORKING HOURS</div>
                <div class="p-3 pt-4">
                    <div class="d-flex">
                        <div class="">Mon – FRI</div>
                        <div class="" style="margin-left: auto;">8:00 AM – 8:00 PM</div>
                    </div>
                    <hr style="height: 2px;">
                    <div class="d-flex">
                        <div class="">Saturday</div>
                        <div class="" style="margin-left: auto;">8:00 AM – 6:00 PM</div>
                    </div>
                    <hr style="height: 2px;">
                    <div class="d-flex">
                        <div class="">Sunday</div>
                        <div class="" style="margin-left: auto;">Closed</div>
                    </div>
                </div>
                <div class="text-center mt-5" style="font-size: 22px;">CONTACT DETAILS</div>
                <div class="p-3 pt-4">
                    <div class="d-flex align-items-center mb-4"><span class="fa fa-map-marker"
                            style="margin-right: 30px;font-size: 2.5rem;"></span>
                        <div style="margin-left: auto;">140 State Route 17 N, Ste 250, Paramus, New Jersey, 07652</div>
                    </div>
                    <div class="d-flex align-items-center mb-4"><span class="fa fa-envelope-open-o fa-2x"
                            style="margin-right: 30px;"></span>
                        <div style="margin-left: auto;">drimran55@hotmail.com</div>
                    </div>
                    <div class="d-flex align-items-center"><span class="fa fa-phone fa-2x"
                            style="margin-right: 30px;"></span>
                        <div style="margin-left: auto;"> 201 835 0536</div>
                    </div>
                </div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48219.083505066534!2d-74.10512240666364!3d40.94440125251545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fade00f3d0a1%3A0xc918e3233e30c210!2sParamus%2C%20NJ%2007652%2C%20USA!5e0!3m2!1sen!2sin!4v1663755574229!5m2!1sen!2sin"
                width="100%" style="border:0;height: 80vh;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <div id="backtotop" class="container-fluid" style="bottom: 0;">
        <div class="justify-content-end d-flex" onclick="back()">
            <div
                class="backtotop fa fa-angle-up text-decoration-none text-white justify-content-center d-flex align-items-center">
            </div>
        </div>
    </div>

    <footer style="margin-top: -5px;">
        <div class="bg-dark" style="height: 120px;"></div>
        <div class="" style="min-height: 70px;background-color: #17a2b8;">
            <div class="row d-flex text-white align-items-center mx-5 py-3" style="min-height: 70px;">
                <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="text-lg-start text-md-start text-sm-start text-center">
                        Copyright by StressTherapistNJ 2018. All rights reserved. | Developed By Quantum IT | Privacy
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 justify-content-lg-end justify-content-md-end justify-content-sm-end justify-content-center d-flex mt-lg-0 mt-md-0 mt-sm-0 mt-3"
                    style="margin-left: auto;">
                    <div class="d-flex">
                        <div class="fa fa-facebook-f px-2"></div>
                        <div class="fa fa-twitter px-2"></div>
                        <div class="fa fa-google-plus px-2"></div>
                        <div class="fa fa-linkedin-square px-2"></div>
                        <div class="fa fa-instagram px-2"></div>
                    </div>
                </div>

            </div>
    </footer>
</body>

</html>