<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="icon" href="Images/titleLogo.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script src="../index.js"></script>
<style>
    .btn-transparent:hover {
        background-color: #1d9390 !important;
        color: white !important;
    }
</style>

<body>

    <nav id="topnav" class="topnav" style="border-bottom: 0.1px solid silver;">
        <div class="container-lg container-fluid">
            <div class="row my-2" style="font-size: 10px;">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 justify-content-center d-flex px-3"
                    style="border-right: 1px solid #fff;">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-clock-o"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="" target="_blank" class="text-decoration-none px-2 active" style="color: grey;">
                            WORKING HOURS: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;MON - SAT 8:00
                                AM-8:00 PM</span>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 pl-4 justify-content-center d-flex px-3">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-envelope-o"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                            EMAIL: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;DRIMRAN55@HOTMAIL.COM</span>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-2 pl-4 justify-content-center d-flex px-3">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-phone"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                            PHONE: <span style="font-weight: 500;color: black;" style="color: black;">&nbsp;&nbsp;201
                                835
                                0536</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 justify-content-center d-flex">
                    <div class="d-flex list-unstyled align-items-center">
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-facebook"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-twitter"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-google-plus"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-linkedin"
                                style="color: grey;"></a>
                        </div>

                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-instagram"
                                style="color: grey;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="position-sticky top-0" id="header" style="z-index: 999;">
        <nav id="navbar" class="navbar navbar-expand-lg py-lg-3 py-md-3 py-sm-3 py-2 bg-white"
            style="box-shadow:0px 1px 2px 0px silver;top: 0;position:sticky;z-index:1">
            <div class="container-lg container-fluid">
                <a href="../Home.html" class="navbar-brand" href="#">
                    <img src="../Images/Stress-Reduction-Clinic-1.png" class="img-fluid logo" style="height:60px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav" style="margin-left: auto;">
                        <li class="active nav-item px-1">
                            <a href="./Imran.html" exact class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                ABOUT DR. IMRAN RASID
                            </a>
                        </li>
                        <li class="nav-item px-1 position-relative">
                            <a href="#" class="nav-link d-flex align-items-center"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                FIND A THERAPIST&nbsp;<span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu menu rounded-0 border-0 py-3" style=" width: fit-content">
                                <div class=" justify-content-center d-flex">
                                    <div class="" style="border-top: 3px solid rgba(153, 195, 189, 1);
                                    background: #eee;
                                    box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
                                    width: max-content;
                                  ">
                                        <ul class="list-unstyled dropdownHover">
                                            <a href="./stressReduction.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Therapist for Stress
                                                        Reduction</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./treatmentsForAddictions.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Treatment for addictions
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item px-1 position-relative">
                            <a href="#" class="nav-link d-flex align-items-center"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                SERVICES&nbsp;<span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu menu rounded-0 border-0 py-3" style=" width: fit-content">
                                <div class=" justify-content-center d-flex">
                                    <div class="" style="border-top: 3px solid rgba(153, 195, 189, 1);
                                    background: #eee;
                                    box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
                                    width: max-content;
                                  ">
                                        <ul class="list-unstyled dropdownHover">
                                            <a href="./adult.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="dropdown" style="width: 100%;">
                                                        Adult
                                                        <div class="dropdown-content py-2 my-2"
                                                            style="border-top: 3px solid rgba(153, 195, 189, 1);padding-left: 20px;">
                                                            Post-traumatic Stress Disorder (PTSD) <div
                                                                class="fa fa-angle-left px-3"></div>
                                                        </div>
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./eliminateFearsAndPhobias.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Eliminate Fears & Phobias
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./stressAndAnxietytreatment.html"
                                                class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Stress and Anxiety
                                                        Treatment
                                                    </div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./addictionTreatment.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Addiction Treatment</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./anxietyAndDepressionTreatment.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Anxiety & Depression
                                                        Treatment</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                            <a href="./mentalHealth.html" class="text-decoration-none text-dark">
                                                <li class="py-2 d-flex align-items-center">
                                                    <div class="menuName" style="width: 100%;">Mental Health & Addiction
                                                        Therapies</div>
                                                    <div class="fa fa-angle-left px-3"></div>
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item px-1">
                            <a href="./testimonials.html" class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                TESTIMONIALS
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a href="./blog.html" class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                BLOG
                            </a>
                        </li>
                        <li class="nav-item px-1">
                            <a href="./contact.html" class="nav-link"
                                style="color: #444;font-weight:700;font-family:'Times New Roman', Times, serif">
                                CONTACT US
                            </a>
                        </li>
                    </ul>
                    <div class="row mt-2 mb-1 topNavSocialDetails" style="font-size: 10px;">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 px-3 justify-content-center d-flex"
                            style="border-right: 1px solid #fff;">
                            <div class="d-flex align-items-center">
                                <span class="align-items-center d-flex justify-content-center text-white fa fa-clock-o"
                                    style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                                <a href="" target="_blank" class="text-decoration-none px-2 active"
                                    style="color: grey;">
                                    WORKING HOURS: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;MON - SAT
                                        8:00
                                        AM-8:00 PM</span>
                                </a>
                            </div>
                        </div>

                        <div
                            class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 pl-4 px-3 justify-content-center d-flex">
                            <div class="d-flex align-items-center">
                                <span
                                    class="align-items-center d-flex justify-content-center text-white fa fa-envelope-o"
                                    style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                                <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                                    EMAIL: <span
                                        style="font-weight: 500;color: black;">&nbsp;&nbsp;DRIMRAN55@HOTMAIL.COM</span>
                                </a>
                            </div>
                        </div>

                        <div
                            class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-2 pl-4 px-3 justify-content-center d-flex">
                            <div class="d-flex align-items-center">
                                <span class="align-items-center d-flex justify-content-center text-white fa fa-phone"
                                    style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                                <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                                    PHONE: <span style="font-weight: 500;color: black;"
                                        style="color: black;">&nbsp;&nbsp;201
                                        835
                                        0536</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 justify-content-center d-flex">
                            <div class="d-flex list-unstyled align-items-center">
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-facebook"
                                        style="color: grey;"></a>
                                </div>
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-twitter"
                                        style="color: grey;"></a>
                                </div>
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-google-plus"
                                        style="color: grey;"></a>
                                </div>
                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-linkedin"
                                        style="color: grey;"></a>
                                </div>

                                <div class="">
                                    <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-instagram"
                                        style="color: grey;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="row gx-0">
            <div class="col-lg-6 col-md-6 col-12 gx-0">
                <img src="../Images/PTSD.jpg" class="img-fluid" style="width: 100%;height:100%;" />
            </div>
            <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-md-5 p-3 text-white align-items-center d-flex"
                style="background-color: rgba(29, 147, 144, 1);font-size: 20px;">
                <div class="container-sm">
                    <div style="font-size: 60px;">Mental Health Issues</div>
                    <hr class="mb-4 m-0" style="height: 2px; width:70px; background-color:white" />
                    <p style="font-size: 14px;text-align:justify">Mental health issues that impact human
                        mood, temperament, thoughts, and behavior are referred to as mental illnesses, often known as
                        mental health disorders. Depression, anxiety disorders, schizophrenia, eating disorders, and
                        compulsive behaviors are a few examples of mental illnesses. There are many people who
                        occasionally experience problems with their mental health. But when persistent symptoms lead to
                        regular stress and impair the ability to perform normal functions, it is then a mental health
                        issue that becomes worrisome and turns into a mental disorder.
                        <br><br>
                        It can be challenging and frequently incapacitating to live with a mental health illness. The
                        majority of the time, these diseases have a profoundly detrimental effect on behavior, thought
                        processes, emotional health, and cognitive functioning. Sadness or anxiety are human emotions
                        that we have all experienced at some point. However, these unfavorable feelings, actions, or
                        impulses never go away for persons who have a mental health disorder. A person with mental
                        health issues may struggle or perhaps fail to complete daily chores. This is caused because of
                        the worsening mental health condition which has a significant impact on their lives. Your daily
                        life, including issues at school or college, job, and personal relationships, might become
                        terrible as a result of a mental illness. Most of the time, a combination of medicine and talk
                        therapy helps control symptoms (psychotherapy). One could search for the best mental health
                        therapist and could reach out to a therapist who would recommend a course of action.
                        <br><br>
                        It is very important for a person suffering from a mental health condition to accept that they
                        are facing issues and have been lately feeling overwhelmed could lead you to think you have too
                        many responsibilities or problems to handle. This physical ailment frequently arises from or
                        goes along with mental health problems. It might be a sign of depression. You may sleep more
                        than normal when you’re tired or find it difficult to get out of bed every morning. Feeling
                        excessive fury, anger, or hostility. Anger is a common emotion. Even momentary wrath need not be
                        detrimental. When these emotions don’t go away, become excessive given the circumstance it may
                        be an indication to seek professional help. Any person having such symptoms or thoughts should
                        primarily search for a mental health therapist near me so that it’s easy for them to reach the
                        therapist.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-white pt-3 pb-4" style="background-color:#bfded9;">
            <div class="container">
                <div class="" style="font-size:60px">Psychotherapy</div>
                <p style="font-size: 14px;;text-align: justify;">Psychotherapy, also known as “talk therapy,” is
                    frequently highly beneficial for those with mental health disorders. Your specific circumstances and
                    health insurance will determine the kind and period of therapy you receive, and it’s possible that
                    therapy will be a component of a larger treatment program that also includes medications or other
                    forms of treatment. For eg. If a person lives in New Jersey, he/she will try to find a clinic that
                    offers Mental health and addiction therapy near New Jersey that will be covered by their insurance.
                    <br><br>
                    You can cope with thoughts, actions, symptoms, worries, goals, prior experiences, and other issues
                    that can aid in your recovery by speaking with a therapist or counselor. It would be more helpful if
                    the person searches for “mental health services near me” so that it is easily commutable for
                    him/her. It might be challenging to discuss personal difficulties with a therapist, yet doing so can
                    help you face challenges in your life. Additionally, it might provide a sense of being truly
                    listened to, acknowledged, understood, and supported.
                </p>
            </div>
        </div>

        <div class="text-white pt-3 pb-5" style="background-color:#1d9390;">
            <div class="container">
                <div class="" style="font-size:60px">
                    What Is Addiction Therapy?</div>
                <p style="font-size: 14px;text-align: justify;">There are a number of people in this world, who are
                    suffering from fear and phobias. We all have some tension and insecurities in life, however, if we
                    constantly think about things that worry us, then it’ll make the situation even worse. So, rather
                    than thinking of the issues, we must always try and think about their solutions. There are many
                    solutions in the world, but we have to choose the best one for fears and phobias. A phobic disorder
                    may be defined as a severe panic state of mind that suddenly originates in a person, once he
                    encounters a specific situation. This is basically a type of anxiety that causes anyone to
                    experience an extreme fear of a situation. There are completely different types of phobic disorders
                    and millions of people around the world suffer from one type of phobia or another. To cure a phobic
                    disorder permanently, we’ve got to first understand the basic cause behind it.
                    <br><br>
                    As an example, if somebody is afraid of heights, it would be possible that this person had an
                    awfully unhealthy fall in his childhood it could be that because of such a fall. He has become
                    cautions of all heights. To cure this person, we’ve got to first make him alert to the entire
                    situation. This will be done through Therapy for fear and phobia. Throughout therapy treatment for
                    this particular fear that person is taken back to the time when this incident really took place.
                    Then they are asked to witness that incident calmly. They are treated to accept it as an unfortunate
                    incident and to move on with life. A properly executed therapy session can help that person to
                    recover from the trauma of the past, Slowly, their phobic disorder of heights is going to be cured
                    forever. Treatment for fear and phobia therapy is the best because it shows instant results.
                </p>
            </div>
        </div>

        <div class="pt-3 pb-5">
            <div class="container">
                <div class="" style="font-size:60px;font-weight: 400;">Addiction Therapies For Mental Health Issues
                </div>
                <p style="font-size: 14px;text-align: justify;">Chronic illness addiction alters the
                    brain in intricate ways that lead to obsessive and uncontrollable use. Unfortunately, characters who
                    experience addiction in the media frequently get through detox and then never really struggle with
                    it again. In fact, it’s possible that cravings and triggers or other withdrawal symptoms will
                    persist for years after your last dose..
                    <br><br>
                    The prevalence of addiction is increasing at almost exponential rates. Researchers, medics, and
                    scientists are continuously developing novel approaches to treat the disease in order to counteract
                    the growth in overdose and addiction. Today, those who require assistance with a substance use
                    disorder have access to both medical treatments and psychotherapy choices. According to the
                    intensity of the addiction, many types of addiction therapy, some of which are more effective than
                    others, are used to combat the epidemic of addiction.
                    <br><br>
                    There are numerous types of treatment, some of which are most successful when used with families or
                    groups of individuals. You can find out about your alternatives by speaking with trusted
                    individuals, such as your primary care doctor or those who have first hand knowledge of mental
                    health issues like the mental health therapist near me or the staff of the Mental health and
                    addiction therapy near New Jersey, if you live in New Jersey.
                    <br><br>
                    The two primary components of cognitive-behavioral therapy (CBT). The cognitive component focuses on
                    creating beneficial thoughts about your life. You can learn to act in a better way by using the
                    behavioral component. CBT can be used for a variety of diseases, but it frequently works well for
                    bipolar disorder, anxiety disorders, and depression.
                    <br><br>
                    The main goals of interpersonal therapy are to enhance relationships and support healthy emotional
                    expression. This strategy frequently alleviates depression. Due to the fact that it also aids in
                    creating a daily schedule that promotes recovery, a form of it known as “interpersonal and social
                    rhythm treatment” frequently works effectively for bipolar disorder.
                    Family therapy fosters improved communication, conflict resolution, and family dynamics. Bipolar
                    disorder and eating disorders are frequently treated with various forms of family therapy. People
                    who undergo psychodynamic therapy have a greater awareness of the underlying emotions and impulses
                    that might influence their beliefs and behaviors. Music, dance, sketching, and other artistic
                    mediums can be used in art therapy to help with emotional expression and healing. Psychoeducation
                    aids in the understanding of mental health issues and strategies for healing.
                    <br><br>
                    If there is a certain type of therapy that interests you, you might inquire with potential
                    therapists from mental health services near me about its application. If you comprehend how therapy
                    typically operates and how the therapist you choose believes it will benefit you, you might receive
                    more out of it. To best meet your unique needs, some therapists will combine a few different
                    therapeutic theories.
                </p>

                <div class="justify-content-center d-lg-block d-md-block d-sm-block d-flex">
                    <div class="btn btn-transparent bg-transparent shadow-sm rounded-0 px-5 py-2 mt-3"
                        style="transition:0.5s;border: 2px solid #1d9390;color: #1d9390;font-weight: 500;">Call: 201
                        835 0536</div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="bg-dark" style="height: 120px;"></div>
        <div class="" style="min-height: 70px;background-color: #17a2b8;">
            <div class="row d-flex text-white align-items-center mx-5 py-3" style="min-height: 70px;">
                <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="text-lg-start text-md-start text-sm-start text-center">
                        Copyright by StressTherapistNJ 2018. All rights reserved. | Developed By Quantum IT | Privacy
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 justify-content-lg-end justify-content-md-end justify-content-sm-end justify-content-center d-flex mt-lg-0 mt-md-0 mt-sm-0 mt-3"
                    style="margin-left: auto;">
                    <div class="d-flex">
                        <div class="fa fa-facebook-f px-2"></div>
                        <div class="fa fa-twitter px-2"></div>
                        <div class="fa fa-google-plus px-2"></div>
                        <div class="fa fa-linkedin-square px-2"></div>
                        <div class="fa fa-instagram px-2"></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>