<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title></title>
    <link rel="icon" href="Images/titleLogo.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    .nav-item:hover .dropdown-menu {
        display: block;
        animation: fadeIn 0.4s linear forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(15%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .dropdown-menu {
        opacity: 1;
        background-color: transparent !important;
        top: 60%;
        left: 0;
    }

    .dropdownHover li:hover {
        cursor: pointer;
        color: grey !important;
        transition: 0.3s;
        text-decoration: underline;
    }

    .tab.active {
        border-bottom: 2.5px solid white;
    }

    @media(max-width:574px) {
        .topnav {
            display: none;
        }

        .logo {
            height: 50px !important;
        }
    }

    @media(min-width:574px) {
        .topNavSocialDetails {
            display: none;
        }
    }
</style>

<body>
    <nav class="topnav" style="border-bottom: 0.1px solid silver;">
        <div class="container-lg container-fluid">
            <div class="row my-2" style="font-size: 10px;">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 justify-content-center d-flex px-3"
                    style="border-right: 1px solid #fff;">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-clock-o"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="" target="_blank" class="text-decoration-none px-2 active" style="color: grey;">
                            WORKING HOURS: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;MON - SAT 8:00
                                AM-8:00 PM</span>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 pl-4 justify-content-center d-flex px-3">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-envelope-o"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                            EMAIL: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;DRIMRAN55@HOTMAIL.COM</span>
                        </a>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-2 pl-4 justify-content-center d-flex px-3">
                    <div class="d-flex align-items-center">
                        <span class="align-items-center d-flex justify-content-center text-white fa fa-phone"
                            style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                        <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                            PHONE: <span style="font-weight: 500;color: black;" style="color: black;">&nbsp;&nbsp;201
                                835
                                0536</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 justify-content-center d-flex">
                    <div class="d-flex list-unstyled align-items-center">
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-facebook"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-twitter"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-google-plus"
                                style="color: grey;"></a>
                        </div>
                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-linkedin"
                                style="color: grey;"></a>
                        </div>

                        <div class="">
                            <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-instagram"
                                style="color: grey;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg py-lg-3 py-md-3 py-sm-3 py-2 bg-white"
        style="box-shadow:0px 1px 2px 0px silver;top: 0;position:sticky;z-index:1">
        <div class="container-lg container-fluid">
            <a href="" class="navbar-brand" href="#">
                <img src="../Images/Stress-Reduction-Clinic-1.png" class="img-fluid logo" style="height:60px" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="fa fa-bars fa-lg"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="active nav-item pl-3">
                        <a href="./Imran.html" exact class="nav-link"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            ABOUT DR. IMRAN RASID
                        </a>
                    </li>
                    <li class="nav-item px-3 position-relative">
                        <a href="#" class="nav-link d-flex align-items-center"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            FIND A THERAPIST&nbsp;<span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu menu rounded-0 border-0 py-lg-4 py-4" style=" width: fit-content">
                            <div class=" justify-content-center d-flex">
                                <div class="" style="border-bottom: 3px solid #086AD8;
                                background: #fffffff2;
                                box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
                                width: max-content;
                              ">
                                    <ul class="list-unstyled dropdownHover">
                                        <a href="./stressReduction.html" class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">Therapist for Stress
                                                Reduction&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>
                                            </li>
                                        </a>
                                        <a href="./treatmentsForAddictions.html" class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">Treatment for addictions&nbsp;<span
                                                    class="fa fa-angle-left" style="margin-left: auto;"></span>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item px-3 position-relative">
                        <a href="#" class="nav-link d-flex align-items-center"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            SERVICES&nbsp;<span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu menu rounded-0 border-0 py-lg-4 py-4" style=" width: fit-content">
                            <div class=" justify-content-center d-flex">
                                <div class="" style="border-bottom: 3px solid #086AD8;
                                background: #fffffff2;
                                box-shadow: 0 2px 29px rgb(0 0 0 / 5%);
                                width: max-content;
                              ">
                                    <ul class="list-unstyled dropdownHover">
                                        <a href="./adult.html" class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">

                                                Adult&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>

                                            </li>
                                        </a>
                                        <a href="./eliminateFearsAndPhobias.html"
                                            class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">

                                                Eliminate Fears & Phobias&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>

                                            </li>
                                        </a>
                                        <a href="./stressAndAnxietytreatment.html"
                                            class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">

                                                Stress and Anxiety Treatment&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>

                                            </li>
                                        </a>
                                        <a href="" class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">

                                                Addiction Treatment&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>

                                            </li>
                                        </a>
                                        <a href="" class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">

                                                Anxiety & Depression Treatment&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>

                                            </li>
                                        </a>
                                        <a href="" class="text-decoration-none text-dark">
                                            <li class="py-2 px-4">

                                                Mental Health & Addiction Therapies&nbsp;<span class="fa fa-angle-left"
                                                    style="margin-left: auto;"></span>

                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item pl-3">
                        <a href="/project" class="nav-link"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            SERVICES
                        </a>
                    </li>
                    <li class="nav-item pl-3">
                        <a href="/blog" class="nav-link"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            TESTIMONIALS
                        </a>
                    </li>
                    <li class="nav-item pl-3">
                        <a href="/services" class="nav-link"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            BLOG
                        </a>
                    </li>
                    <li class="nav-item pl-3">
                        <a href="/contact" class="nav-link"
                            style="color: #444;font-weight:500;font-family:'Times New Roman', Times, serif">
                            CONTACT US
                        </a>
                    </li>
                </ul>
                <div class="row mt-2 mb-1 topNavSocialDetails" style="font-size: 10px;">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 px-3 justify-content-center d-flex"
                        style="border-right: 1px solid #fff;">
                        <div class="d-flex align-items-center">
                            <span class="align-items-center d-flex justify-content-center text-white fa fa-clock-o"
                                style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                            <a href="" target="_blank" class="text-decoration-none px-2 active" style="color: grey;">
                                WORKING HOURS: <span style="font-weight: 500;color: black;">&nbsp;&nbsp;MON - SAT
                                    8:00
                                    AM-8:00 PM</span>
                            </a>
                        </div>
                    </div>

                    <div
                        class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-2 pl-4 px-3 justify-content-center d-flex">
                        <div class="d-flex align-items-center">
                            <span class="align-items-center d-flex justify-content-center text-white fa fa-envelope-o"
                                style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                            <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                                EMAIL: <span
                                    style="font-weight: 500;color: black;">&nbsp;&nbsp;DRIMRAN55@HOTMAIL.COM</span>
                            </a>
                        </div>
                    </div>

                    <div
                        class="col-lg-3 col-md-3 col-sm-6 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-2 pl-4 px-3 justify-content-center d-flex">
                        <div class="d-flex align-items-center">
                            <span class="align-items-center d-flex justify-content-center text-white fa fa-phone"
                                style="background:#1d9390;height: 20px;width:20px;border-radius: 50%;font-size: 12px;"></span>
                            <a href="" target="_blank" class="text-decoration-none px-2" style="color: grey;">
                                PHONE: <span style="font-weight: 500;color: black;"
                                    style="color: black;">&nbsp;&nbsp;201
                                    835
                                    0536</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 justify-content-center d-flex">
                        <div class="d-flex list-unstyled align-items-center">
                            <div class="">
                                <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-facebook"
                                    style="color: grey;"></a>
                            </div>
                            <div class="">
                                <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-twitter"
                                    style="color: grey;"></a>
                            </div>
                            <div class="">
                                <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-google-plus"
                                    style="color: grey;"></a>
                            </div>
                            <div class="">
                                <a href="" target="_blank" class="text-decoration-none px-2 fa-lg fa fa-linkedin"
                                    style="color: grey;"></a>
                            </div>

                            <div class="">
                                <a href="" target="_blank" class="text-decoration-none fa-lg fa fa-instagram"
                                    style="color: grey;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section>
        <div class="row gx-0">
            <div class="col-lg-6 col-md-6 col-12 gx-0">
                <img src="../Images/PTSD.jpg" class="img-fluid" style="width: 100%;height:100%;" />
            </div>
            <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-md-5 p-3 text-white align-items-center d-flex"
                style="background-color: rgba(29, 147, 144, 1);font-size: 20px;">
                <div>
                    <div style="font-size: 35px;">Reduce stress with “Therapy for Stress management NJ“</div>
                    <hr class="mb-4 m-0" style="height: 2px; width:70px; background-color:white" />
                    <p style="font-size: 14px;font-weight:500;text-align:justify">Do you know about Therapy for stress
                        management NJ (New Jersey)? We all have experienced stress on a daily basis. It happens to
                        everyone, whether you are male, female, boy, and girls. It affects both your professional and
                        personal life. Stress refers to the strain which struggles between our outside environment and
                        us, leading to physical and emotional pressure. It may affect your health in many ways, It can
                        make you feel – Fatigued, Angry, Depressed and fearful. It can also cause high blood pressure,
                        chest pain, heart disease etc.
                        <br><br>
                        For reducing stress we can use many techniques and treatments, including therapy. Therapy helps
                        you to reduce or decrease stress and anxiety levels, but you need to go to one of the <span
                            style="color: blue;">best
                            therapist in NJ</span>. Many people also use a medicine, medications to reduce stress and
                        anxiety, but
                        they don’t give a permanent result.
                        <br><br>
                        Therapy is nothing more than a deep state of relaxation, there is nothing to fear, you never
                        lose control during stress management therapy. You will tap into your subconscious mind, where
                        all of your emotions, goal, and desire lie, and bring them to the forefront.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-md-5 p-3 align-items-center d-flex"
                style="background-color: rgba(125, 193, 187, 1);font-size: 20px;color: black;">
                <div>
                    <div style="font-size: 35px;">Therapy for Stress Management</div>
                    <hr class="mb-4 m-0" style="height: 2px; width:70px; background-color:white" />
                    <p style="font-size: 14px;text-align:justify">Undoubtedly, about 75% to 90% of all
                        clinical visits are for illnesses induced by stress. It is a fact that our persistent thoughts
                        spring forth from our unconscious mind. These are the thoughts that we find ourselves
                        automatically tangled in. In our daily life if the persistent thoughts that keep popping into
                        our mind are all about our problems or concern about past or present, then we definitely
                        increase our stress and anxiety. Since different modalities of the therapeutical tool can be
                        used to filter unconscious thoughts and take control of the mind. The right stress relief
                        therapy can effectively <a href="" class="text-decoration-none">eliminate stress</a> from our
                        system and bring us into a state of deep
                        relaxation.
                    </p>
                    <div class="">
                        <div>
                            <div class="" style="font-weight: 500;font-size: 14px;">2.1 CAUSES OF STRESS</div>
                            <p style="text-align: justify;font-size: 14px;">Life is full of up’s and down, So Both
                                positive and negative
                                events happen in one’s life, that can give stress. However major life changes are the
                                greatest contributors of stress for most people.</p>
                        </div>
                        <div>
                            <div class="" style="font-weight: 500;font-size: 14px;">2.2 SYMPTOMS OF STRESS</div>
                            <p style="text-align: justify;font-size: 14px;">There are a lot of signs and symptoms that
                                can be
                                experienced. These sign and symptoms are grouped in four categories – Feelings,
                                Thoughts, Behavior, and Physiology.</p>
                            <div class="py-3 justify-content-center d-flex">
                                <div>
                                    <ul class="nav nav-tabs justify-content-center mb-4"
                                        style="border-bottom: none;font-size: 20px;">
                                        <li style="font-size: 16px;" class="active text-center px-3">
                                            <div class="active py-2 tab rounded-0 text-decoration-none" type="button"
                                                data-bs-toggle="tab" href="#Feeling">
                                                2.2.1 FEELINGS
                                            </div>
                                        </li>
                                        <li class="text-center px-3" style="font-size: 16px;">
                                            <div class="py-2 tab rounded-0 text-decoration-none" type="button"
                                                data-bs-toggle="tab" href="#Thoughts">
                                                2.2.2 THOUGHTS
                                            </div>
                                        </li>
                                        <li class="text-center px-3" style="font-size: 16px;">
                                            <div class="py-2 tab rounded-0 text-decoration-none" type="button"
                                                data-bs-toggle="tab" href="#Behavior">
                                                2.2.3 BEHAVIOR
                                            </div>
                                        </li>
                                        <li class="text-center px-3" style="font-size: 16px;">
                                            <div class="py-2 tab rounded-0 text-decoration-none" type="button"
                                                data-bs-toggle="tab" href="#Physiology">
                                                2.2.4 PHYSIOLOGY
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="Feeling" class="active tab-pane">
                                            <ul class="" style="font-size: 18px;">
                                                <li>Feeling angry</li>
                                                <li>Feeling moody</li>
                                                <li>Feeling scared</li>
                                                <li>Feeling irritable</li>
                                            </ul>

                                        </div>
                                        <div id="Thoughts" class="tab-pane fade">
                                            <ul class="" style="font-size: 18px;">
                                                <li>Embarrassing easily</li>
                                                <li>Low self esteem</li>
                                                <li>Fear of failure</li>
                                                <li>Loss of memory</li>
                                                <li>Preoccupied with thoughts</li>
                                                <li>Worrying about the future</li>
                                                <li>Lack of concentration</li>
                                            </ul>
                                        </div>
                                        <div id="Behavior" class="tab-pane fade">
                                            <ul class="" style="font-size: 18px;">
                                                <li>Sturring and other speak difficulties</li>
                                                <li>Crying with reason</li>
                                                <li>Acting impulsively</li>
                                                <li>Starling easily</li>
                                                <li>Laughing in a high pitch</li>
                                                <li>Grindling teeth especially at night</li>
                                                <li>Lack of appetite or overeating</li>
                                                <li>Increasing use of drug and alcohol</li>
                                                <li>Increasing smoking</li>
                                            </ul>
                                        </div>
                                        <div id="Physiology" class="tab-pane fade">
                                            <ul class="" style="font-size: 18px;">
                                                <li>Sweating in the hands or feet</li>
                                                <li>Increased heart beat or palpitation, Headaches</li>
                                                <li>Tremor or shaking</li>
                                                <li>Nervous ticks</li>
                                                <li>Dryness of mouth, Premenstrual tension</li>
                                                <li>Feeling weakness, Muscular pain</li>
                                                <li>Urinating frequently</li>
                                                <li>Disturb sleep, Diarrhea, Indigestion or Vomiting</li>
                                                <li>Butterflies in the stomach, Susceptibility to illness</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="" style="font-weight: 500;font-size: 14px;">2.3 WHAT LEADS YOU TO STRESS</div>
                            <p style="text-align: justify;font-size: 14px;">There are a lot of signs and symptoms that
                                can be
                                experienced. These sign and symptoms are grouped in four categories – Feelings,
                                Thoughts, Behavior, and Physiology.</p>
                            <div class="py-3 justify-content-center d-flex">
                                <div>
                                    <ul class="nav nav-tabs justify-content-center mb-4"
                                        style="border-bottom: none;font-size: 20px;">
                                        <li style="font-size: 16px;" class="active text-center px-3">
                                            <div class="active py-2 tab rounded-0 text-decoration-none" type="button"
                                                data-bs-toggle="tab" href="#majorChanges">
                                                2.3.1 MAJOR LIFE CHANGES
                                            </div>
                                        </li>
                                        <li class="text-center px-3" style="font-size: 16px;">
                                            <div class="py-2 tab rounded-0 text-decoration-none" type="button"
                                                data-bs-toggle="tab" href="#Environmental">
                                                2.3.2 ENVIRONMENTAL FACTORS
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="majorChanges" class="active tab-pane">
                                            <ul class="" style="font-size: 18px;">
                                                <li>Geographic mobility</li>
                                                <li>Going to college</li>
                                                <li>Transfer to a new school</li>
                                                <li>Being fired from the job</li>
                                                <li>Marriage</li>
                                                <li>Pregnancy</li>
                                                <li>New job</li>
                                                <li>New life style</li>
                                                <li>Divorce</li>
                                                <li>Death of a loved one</li>
                                            </ul>

                                        </div>
                                        <div id="Environmental" class="tab-pane fade">
                                            <ul class="" style="font-size: 18px;">
                                                <li>Disappointment</li>
                                                <li>Noise</li>
                                                <li>Financial crises</li>
                                                <li>Competition</li>
                                                <li>Time pressure or work overload</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="text-align: justify;font-size: 14px;">I have committed myself to help as many people
                            as I can in eliminating harmful stress permanently from their daily life so that they
                            achieve complete peace and serenity. I would like to help people in calming them down to a
                            point where stress, anxiety, and depression no longer remains in their mind and body.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 gx-0">
                <img src="../Images/stressAndAnxietytreatment.jpg" class="img-fluid" style="width: 100%;height:100%;" />
            </div>
        </div>

    </section>

    <footer>
        <div class="bg-dark" style="height: 120px;"></div>
        <div class="" style="min-height: 70px;background-color: #17a2b8;">
            <div class="row d-flex text-white align-items-center mx-5 py-3" style="min-height: 70px;">
                <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                    <div class="text-lg-start text-md-start text-sm-start text-center">
                        Copyright by StressTherapistNJ 2018. All rights reserved. | Developed By Quantum IT | Privacy
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 justify-content-lg-end justify-content-md-end justify-content-sm-end justify-content-center d-flex mt-lg-0 mt-md-0 mt-sm-0 mt-3"
                    style="margin-left: auto;">
                    <div class="d-flex">
                        <div class="fa fa-facebook-f px-2"></div>
                        <div class="fa fa-twitter px-2"></div>
                        <div class="fa fa-google-plus px-2"></div>
                        <div class="fa fa-linkedin-square px-2"></div>
                        <div class="fa fa-instagram px-2"></div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>